<footer>
	<div class="container">
		<div class="columns two">
			<img src="/img/footer-logo.png" alt="Trestles Chiropractic logo"/>
		</div>
		<div class="columns two last">
				<ul class="nav">
					<li><a href="/about">Meet the Doctor</a></li>
					<li><a href="/post">Health Tips</a></li>
					<li><a href="/contact">Ask the Doctor</a></li>
				</ul>
		</div>
		
		<div class="columns two">
			<h4>San Clemente</h4>
			<div class="columns two">
				<p><a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">653 Camino De Los Mares #100<br>
					San Clemente, CA 92673</a></p>
					<p><a href="tel:949-284-6620">949-284-6620</a></p>
			</div>
			<div class="columns two last footer-hours-block">
				<ul>
					<li>Monday <span>9 AM - 7 PM </span></li>
					<li>Tuesday <span>9 AM - 7 PM </span></li>
					<li>Thursday <span>9 AM - 7 PM </span></li>
					<li class="last">Saturday <span>10 AM - 12:30 PM</span></li>
				</ul>
			</div>
		</div>
		<div class="columns two last">
			<h4>Mission Viejo</h4>
			<div class="columns two">
				<p><a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">653 Camino De Los Mares #100<br>
				San Clemente, CA 92673</a></p>
				<p><a href="tel:949-264-3252">949-264-3252</a></p>
			</div>
			<div class="columns two last footer-hours-block">
				<ul>
					<li>Wednesday <span>11 AM - 5 PM </span></li>
					<li>Friday <span>11 AM - 5 PM </span></li>
					<li class="last">Saturday <span>1 PM - 3:30 PM </span></li>
				</ul>
			</div>
		</div>
		
		<div class="footer-stay-connected-block">
			<ul>
				<li><h2>Stay Connected</h2></li>
				<li><a class="facebook" href="https://www.facebook.com/Drrandersonchiro" target="_blank" rel="noopener">Facebook</a></li>
				<li><a class="yelp" href="https://www.yelp.com/biz/trestles-chiropractic-san-clemente" target="_blank" rel="noopener">Yelp</a></li>
				<li><a class="linkedin" href="https://www.linkedin.com/in/ryan-anderson-dc-92251a42/" target="_blank" rel="noopener">LinkedIn</a></li>
				<li><a class="yellowpages" href="https://www.yellowpages.com/san-clemente-ca/mip/trestles-chiropractic-548888721" target="_blank" rel="noopener">Yellowpages</a></li>
			</ul>
		</div>
	</div>

	<div class="footer-bottom">
		<p>2021 © Trestles Chiropractic. All Rights Reserved.</p>
	</div>

</footer>

<div class="sticky-info-footer mobile">
	<div class="section-1">
		<h4>San Clemente</h4>
		<ul>
        <li class="address-block">
            <a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">
            Directions</a> 
        </li>
        <li class="phone-block">
            <a href="tel:949-284-6620">Call</a>
        </li> 
        <li class="hours-block last">
            <a href="/contact">Hours</a>
        </li>
    </ul>
	</div>
	<div class="section-2">
		<h4>Mission Viejo</h4>
		<ul>
        <li class="address-block">
            <a href="https://goo.gl/maps/F3T7giV7oRAxeS9ZA" target="_blank">
            Directions</a> 
        </li>
        <li class="phone-block">
            <a href="tel:949-264-3252">Call</a>
        </li> 
        <li class="hours-block last">
            <a href="/contact">Hours</a>
        </li>
    </ul>
	</div>
</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>

<script type="text/javascript">
    !function(doc, id){
      var js;
      var scriptElement = doc.getElementsByTagName("script")[0];
      if (!doc.getElementById(id)) {
        js = doc.createElement("script");
        js.id = id;
        js.src = "//dyn.yelpcdn.com/biz_badge_js/fsc/n1WJQqKjXj4yNYTwMTSTmQ.js";
        scriptElement.parentNode.insertBefore(js, scriptElement);
      }
    } (document, "yelp-biz-badge-script-fsc-n1WJQqKjXj4yNYTwMTSTmQ");
</script>
