<footer>
	<div class="container">
		<div class="columns four">
			<img src="/img/footer-logo.png" alt="Trestles Chiropractic logo"/>
		</div>
		<div class="columns four">
			<ul>
				<li><a href="/about">Meet the Doctors</a></li>

				<li><a href="/post">Health Tips</a></li>

				<li><a href="/contact">Ask the Doctor</a></li>
			</ul>
		</div>
		<div class="columns four">
			Times
		</div>
		<div class="columns four last">
			Stay Connected
		</div>
	</div>

	<div class="footer-bottom">
		<p>2020 © Trestles Chiropractic. All Rights Reserved.</p>
	</div>

</footer>

<script src="/app.js"></script>
