<footer>
	<div class="container">
		<div class="columns four first">
			<img src="/img/footer-logo.png" alt="Trestles Chiropractic logo"/><br>
			<a href="https://www.google.com/maps/place/653+Camino+De+Los+Mares+%23100,+San+Clemente,+CA+92673/@33.457999,-117.6514027,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcf163f50aa9cb:0x7d5cce31fe852f13!8m2!3d33.457999!4d-117.649214" rel="noopener" target="_blank">653 Camino De Los Mares #100<br>San Clemente, CA 92673<br></a>
			<a href="tel:949-284-6620">949-284-6620</a>
		</div>
		<div class="columns four">
			<ul>
				<li><a href="/about">Meet the Doctor »</a></li>

				<li><a href="/post">Health Tips »</a></li>

				<li><a href="/contact">Ask the Doctor »</a></li>
			</ul>
		</div>
		<div class="columns four footer-hours-block">
			<h2>Office Hours</h2>
			<ul>
				<li>Monday <span>9:00 AM - 7:00 PM </span></li>
				<li>Tuesday <span>9:00 AM - 7:00 PM </span></li>
				<li>Wednesday<span>Closed </span></li>
				<li>Thursday <span>9:00 AM - 7:00 PM </span></li>
				<li>Friday <span>Closed </span></li>
				<li class="last">Saturday <span>10:00AM - 12:30 PM</span></li>
			</ul>
		</div>
		<div class="columns four last footer-stay-connected-block">
			<h2>Stay Connected</h2>
			<ul>
				<li><a class="facebook" href="https://www.facebook.com/Drrandersonchiro" target="_blank" rel="noopener">Facebook</a></li>
				<li><a class="yelp" href="https://www.yelp.com/biz/trestles-chiropractic-san-clemente" target="_blank" rel="noopener">Yelp</a></li>
				<li><a class="linkedin" href="https://www.linkedin.com/in/ryan-anderson-dc-92251a42/" target="_blank" rel="noopener">LinkedIn</a></li>
				<li><a class="yellowpages" href="https://www.yellowpages.com/san-clemente-ca/mip/trestles-chiropractic-548888721" target="_blank" rel="noopener">Yellowpages</a></li>
			</ul>
		</div>
	</div>

	<div class="footer-bottom">
		<p>2021 © Trestles Chiropractic. All Rights Reserved.</p>
	</div>

</footer>

<div class="sticky-info-footer mobile">
	<div class="section-1">
		<h4>San Clemente</h4>
		<ul>
        <li class="address-block">
            <a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">
            Directions</a> 
        </li>
        <li class="phone-block">
            <a href="tel:949-284-6620">Call</a>
        </li> 
        <li class="hours-block last">
            <a href="/contact">Hours</a>
        </li>
    </ul>
	</div>
	<div class="section-2">
		<h4>Mission Viejo</h4>
		<ul>
        <li class="address-block">
            <a href="https://goo.gl/maps/F3T7giV7oRAxeS9ZA" target="_blank">
            Directions</a> 
        </li>
        <li class="phone-block">
            <a href="tel:949-264-3252">Call</a>
        </li> 
        <li class="hours-block last">
            <a href="/contact">Hours</a>
        </li>
    </ul>
	</div>
</div>


<div class="sticky-contact mobile">
    
</div>


<div class="container home-locations">
	<h2>Locations</h2>
	<div class="columns two">
		<div class="contact">
			<a class="button" href="tel:949-284-6620"><img width="15px" style="margin-right: 8px;" src="/img/phone-white.png">Give Us a Call</a>
			<p class="phone">949-284-6620</p>
		</div>
	
		<div class="location">
			<h3>San Clemente</h3>
			<p><a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">653 Camino De Los Mares #100<br>
			San Clemente, CA 92673</a></p>
		</div>
		
		<div class="hours">
			<p>Mon, Tues, & Thurs 9am-7pm, Sat 10am-12:30pm</p>
		</div>
	</div>
	<div class="columns two last">
		<div class="contact">
			<a class="button" href="tel:949-264-3252"><img width="15px" style="margin-right: 8px;" src="/img/phone-white.png">Give Us a Call</a>
			<p class="phone">949-264-3252</p>
		</div>
	
		<div class="location">
			<h3>Mission Viejo</h3>
			<p><a href="https://goo.gl/maps/F3T7giV7oRAxeS9ZA" target="_blank">653 Camino De Los Mares #100<br>
			San Clemente, CA 92673</a></p>
		</div>
		
		<div class="hours">
			<p>Wed & Fri 11am-5pm, Sat 1pm-3:30pm</p>
		</div>

	</div>
</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>

<script type="text/javascript">
    !function(doc, id){
      var js;
      var scriptElement = doc.getElementsByTagName("script")[0];
      if (!doc.getElementById(id)) {
        js = doc.createElement("script");
        js.id = id;
        js.src = "//dyn.yelpcdn.com/biz_badge_js/fsc/n1WJQqKjXj4yNYTwMTSTmQ.js";
        scriptElement.parentNode.insertBefore(js, scriptElement);
      }
    } (document, "yelp-biz-badge-script-fsc-n1WJQqKjXj4yNYTwMTSTmQ");
</script>
