<div class="region-highlighted">
    <div class="info no-mobile">
        <div class="container">
        <ul>
            <li class="address-block">
                <a href="https://www.google.com/maps/place/653+Camino+De+Los+Mares+%23100,+San+Clemente,+CA+92673/@33.457999,-117.6514027,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcf163f50aa9cb:0x7d5cce31fe852f13!8m2!3d33.457999!4d-117.649214" target="_blank">
                <strong>653 Camino De Los Mares #100</strong><br /><strong>San Clemente, CA 92673</strong></a> 
            </li>
            <li class="phone-block">
                <span class="phone-title">Give Us a Call:</span><br />
                <strong><span class="phone"><a href="tel:949-284-6620">949-284-6620</a></span></strong>
            </li> 
            <li class="hours-block">
                <span class="hours-title">Office Hours:</span>&nbsp;<em>(Walk-ins Welcome)</em><br />
                <strong><span style="font-size: small;">Mon-Fri 9am-7pm, Sat 10am-12:30pm<br /></span></strong>
            </li>
        </ul>
        </div>
    </div>
</div>

<div class="sticky-contact mobile">
    <ul>
        <li class="address-block">
            <a href="https://www.google.com/maps/place/653+Camino+De+Los+Mares+%23100,+San+Clemente,+CA+92673/@33.457999,-117.6514027,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcf163f50aa9cb:0x7d5cce31fe852f13!8m2!3d33.457999!4d-117.649214" target="_blank">
            Location</a> 
        </li>
        <li class="phone-block">
            <a href="tel:949-284-6620">Call</a>
        </li> 
        <li class="hours-block">
            <a href="/contact">Hours</a>
        </li>
    </ul>
</div>
