<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
	<div class="container">
	<!-- Logo -->
	<a href="/">
		<img src="/img/logo.png" alt="Trestles Chiropractic logo"/>
	</a>

	<!-- Primary Nav -->
	<ul class="no-mobile">
		<li><a href="/about">Meet the Doctors</a></li>
		<li><a href="/post">Health Tips</a></li>
		<li><a href="/contact">Ask the Doctor</a></li>
		<li><a class="button" href="/contact">Contact Us</a></li>
	</ul>
        
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

	</div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">Meet the Doctors</a>
  <a href="/post">Health Tips</a>
  <a href="/contact">Ask the Doctor</a>
</div>
