<nav>
	<div class="container">
	<!-- Logo -->
	<a href="/">
		<img style="max-width: 180px;" src="/img/logo.png" alt="Trestles Chiropractic logo"/>
	</a>

	<!-- Primary Nav -->
	<ul class="no-mobile">
		<li><a href="/about">Meet the Doctor</a></li>
		<li><a href="/post">Health Tips</a></li>
		<li><a href="/contact">Ask the Doctor</a></li>
		<li><a class="button" href="/contact">Contact Us</a></li>
	</ul>
        
    <span class="mobile" style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>

	</div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">Meet the Doctor</a>
  <a href="/post">Health Tips</a>
  <a href="/contact">Ask the Doctor</a>
</div>

<div class="social-media-icons">
    <a style="text-align: right;" href="https://www.facebook.com/Drrandersonchiro">
        <img src="/img/side-facebook.png" alt="San Clemente Chiropractic Facebook" width="26" height="26" />
    </a>
    <a href="http://www.yelp.com/biz/trestles-chiropractic-san-clemente">
        <img src="/img/side-yelp.png" alt="Chiropractor San Clemente Yelp" width="26" height="26" />
    </a>
    <a href="https://plus.google.com/103845382411521645795/posts">
        <img src="/img/side-google+.png" alt="San Clemente Chiropractor Google plus" width="26" height="26" />
    </a>
    <a href="http://www.linkedin.com/pub/ryan-anderson-dc/42/51a/922">
        <img src="/img/side-linkedin.png" alt="Chiropractor San Clemente LinkedIn" width="26" height="26" />
    </a>
    <a href="http://www.yellowpages.com/san-clemente-ca/mip/trestles-chiropractic-480641968?lid=480641968">
        <img src="/img/side-yellowpages.jpg" alt="Chiropractor San Clemente Yellow pages" width="26" height="26" />
    </a>
</div>
