<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
	<div class="container">
	<!-- Logo -->
	<a href="/">
		<img src="/img/logo.png" alt="Trestles Chiropractic logo"/>
	</a>

	<!-- Primary Nav -->
	<ul>
		<li><a href="/about">Meet the Doctors</a></li>

		<li><a href="/post">Health Tips</a></li>

		<li><a href="/contact">Ask the Doctor</a></li>

		<li><a class="button" href="/contact">Contact</a></li>
	</ul>

	</div>
</nav>
