{{ define "main" }}

<div class="container">

<h1>Blog</h1>

<div class="main">
  <ul>
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <div class="post-row">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>
    
<div class="main">
  <ul>
      {{ $paginator := .Paginate (where .Pages "Type" "posts") 5 }}
          <div class="post-row">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
</div>
    
    

</div>

{{end}}
