{{ define "main" }}

  <div class="blog-post container">
      
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Home</a> ></li>
            <li><a href="/post">Health Tips</a> ></li>
            <li>{{.Title}}</li>
        </ol>
    </div>
      
    <h1>{{.Title}}</h1>
    {{ if .Params.image }}<img class="main-image" src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}

    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      
    <ul>
        {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
       {{ end }}
    </ul>

    {{ .Content }}
  </div>
{{ end }}
