{{ define "main" }}

<div class="container">
    <h1>{{ .Title }}</h1>

		<div class="container home-locations">
			<h2>Location</h2>
			<div class="column">
				<div class="contact">
					<a class="button" href="tel:949-284-6620"><img width="15px" style="margin-right: 8px;" src="/img/phone-white.png">Give Us a Call</a>
					<p class="phone">949-284-6620</p>
				</div>
			
				<div class="location">
					<h3>San Clemente</h3>
					<p><a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">653 Camino De Los Mares #100<br>
					San Clemente, CA 92673</a></p>
				</div>
				
				<div class="hours">
					<p>Mon - Fri 9am - 7pm and Sat 10am - 12:30pm</p>
				</div>
			</div>
		</div>

		<div class="container">
    	{{ partial "contact-form" . }}
		</div>

</div>

{{ end }}
