{{ define "main" }}

<div class="container">
    <h1>Ask The Doctor</h1>

    <div class="sidebar sidebar-left">
        <iframe width="100%" height="300" src="https://maps.google.com/maps?width=300&amp;height=300&amp;hl=en&amp;q=653%20Camino%20De%20Los%20Mares%20%23100%20San%20Clemente%2C%20CA%2092673+(Trestles%20Chiropractic)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Draw map route</a></iframe><br />
        <p><a href="https://maps.google.com/maps?q=131+w+el+portal,+san+clemente,+ca+92670&amp;ie=UTF-8&amp;hq=&amp;hnear=0x80dcf40ce2bafe29:0x680cd58aa6ba4cdc,131+W+El+Portal,+San+Clemente,+CA+92672&amp;gl=us&amp;ei=GPjIUe-kI8_oigLPhoHwBg&amp;ved=0CC8Q8gEwAA" target="_blank">653 Camino De Los Mares #100<br>
        San Clemente, CA 92673</a><br /><a href="tel:949-284-6620">949-284-6620</a><span style="line-height: 1.538em;">&nbsp;</span></p>
        
    </div>
    <div class="main-with-sidebar">
        {{ partial "contact-form" . }}
        
        <h3>Office Hours</h3>
        <p>
        Monday: 9:00 AM - 7:00 PM<br>
        Tuesday: 9:00 AM - 7:00 PM<br>
        Wednesday: Closed<br>
        Thursday: 9:00 AM - 7:00 PM<br>
        Friday: Closed<br>
        Saturday: 10:00AM - 12:30 PM<br>
        Sunday: Closed<br>
        </p>

    </div>
</div>

{{ end }}
