{{ define "main" }}

<div class="container tele-form">
    <h1>{{ .Title }}</h1>
    
    {{ .Content }}
    
    <form name="telehealth" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <p>
          <label><strong>First Name:</strong> <input type="text" name="first-name" /></label>
      </p>
        <p><label><strong>Last Name:</strong> <input type="text" name="last-name" /></label></p>
        <p><label><strong>Address:</strong> <input type="text" name="address" placeholder="Street Address"/></label></p>
        <p><label><strong>City:</strong> <input type="text" name="city" placeholder="City"></label></p>
            
        <div class="row">
          <div class="columns two">
              <p><label><strong>State:</strong> <input type="text" id="state" name="state" placeholder="State"></label></p>
          </div>
          <div class="columns two last">
              <p><label><strong>Zip:</strong> <input type="text" id="zip" name="zip" placeholder="Zip code"></label></p>
          </div>
        </div>
        
        <p><label><strong>Phone Number:</strong> <input type="tel" id="phone" name="phone"></label></p>
        <p><label><strong>Date of Birth:</strong> <input type="date" id="date-of-birth" name="date-of-birth"></label>
        <p><label><strong>Email:</strong> <input type="text" name="email" /></label></p>
        
        <hr>
        
        <p><label><strong>have you experienced any of the following in the last 2 weeks?:</strong>
            <label><input type="checkbox"> dizziness</label>
            <label><input type="checkbox"> nausea</label>
            <label><input type="checkbox"> difficulty swallowing</label>
            <label><input type="checkbox"> difficulty breathing</label>
            <label><input type="checkbox"> fever</label>
            <label><input type="checkbox"> muscle tension</label>
            <label><input type="checkbox"> limited mobility</label>
            <label><input type="checkbox"> shooting pain</label>
            <label><input type="checkbox"> numbnes/tingling</label>
            <label><input type="checkbox"> pain down legs</label>
            <label><input type="checkbox"> low back pain</label>
            <label><input type="checkbox"> neck pain</label>
            <label><input type="checkbox"> extremity pain</label>
            <label><input type="checkbox"> headache</label>
            <label><input type="checkbox"> migraine</label>
            <label><input type="checkbox"> fatigue</label>
        </label></p>
        
        <p><label><input type="checkbox"> <strong>To my knowledge I have not been exposed to anyone with covid-19 in the last 2 weeks</strong></label></p>
        
        <p><label><strong>Is your condition due to an accident?</strong></label>
            <label><input type="radio"> Yes</label><label><input type="radio"> No</label>
        </p>
        
        <hr>
        
        <h3>CONSENT TO CHIROPRACTIC EXAMINATION</h3>
        <br>
        <div class="small-text">
        <p>Congratulations for having chosen the safest and most natural health care program ever conceived: Chiropractic.</p>

        <p>This painless, logical, and effective approach to health has been serving everyday people for over 100 years. It is licensed in every state, and in many countries as well. Chiropractic has the least chance of side effects of any other type of health care. Mild headaches and muscles soreness may sometimes occur.</p>

        <p>Let’s look at a few statistics about possible serious side effects:</p>

        <p>The #1 cause of death in the US is from correctly and incorrectly prescribed pharmaceutical drugs. (CDC, FDA, NIH sites, also Gary Null: Death By Medicine)</p>

        <p>Stroke is one of the most common causes of death in the US. With people going to doctors all the time it is probable that many will have had a recent doctor visit. But causation is another matter entirely.</p>

        <p>There is no absolutely known material risk of chiropractic care being greater than risks from medical treatment. In fact, when all the factors are taken together, deaths and injuries from a combination of medical mistakes and intentional drugs dwarf any injuries from chiropractic.</p>

        <p>Risk of stroke from chiropractic? Virtually zero chance of stroke from chiropractic. The largest study ever done – the 2008 study in Canada – <a href="www.belleviewchiro.com/index.php?p=213660">www.belleviewchiro.com/index.php?p=213660</a> – looking at 12 million people over 9 years, showed that 53% of strokes had visited their MD within 30 days prior, while only 4% had visited their DC. No evidence of excess risk of stroke associated with chiropractic care.</p>

        <p>In 2001 the Canadian Medical Association Journal found there is only a one-in-5.85-million risk that a cervical manipulation from an MD, PT, or DC would be followed by a stroke. Author David Cassidy, a professor of epidemiology at the University of Toronto said patients had already damaged the artery before seeking help from either a medical doctor or a chiropractor, and then the stroke occurred after the visit.</p>

        <p>Speaking of risks associated with chiropractic, we should look also at the risk associated with NOT GETTING adjusted. This risk was one of the 4 components of risk in the Association of Chiropractic Colleges guidelines on informed consent in 2008. Disc degeneration, loss of mobility, loss of overall tone, decreased quality of life – these are real risks of the untreated spine as time goes by.</p>

        <p>I fully understand these risks, the doctor has explained them to me and I consent to chiropractic care by typing my name and todays date below.</p>
        </div>
        
    <p><label><strong>Full Name:</strong> <input type="text" name="full-name" /></label></p>
    <p><label><strong>Todays Date:</strong> <input type="date" id="todays-date" name="todays-date"></label></p>
        
        <hr>
        <br>
        <h3>Tele-examination Fee</h3>
        <p>$15.00</p>
        <p><i>Once a sucessful payment had been processed, a representative will call or text you to schedule the examination.</i></p>
        <div style="overflow: auto;">
          <a target="_blank" href="https://checkout.square.site/pay/736e090392474e1da22c4b827b283a7b" style="
            display: inline-block;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 48px;
            height: 48px;
            padding-left: 48px;
            padding-right: 48px;
            color: #ffffff;
            min-width: 165px;
            background-color: #000000;
            border-radius: 4px;
            text-align: center;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
          ">Pay now</a>
        </div>
        <br>
        <hr>
       <br>
        <p><button type="submit">Submit my request for an examination</button></p>
    </form>
    
    
</div>

{{ end }}
