{{ define "main" }}

<div class="container">
    <h1>{{ .Title }} telehealth</h1>

    <div class="sidebar sidebar-left">
				<iframe width="100%" height="300" src="https://maps.google.com/maps?width=300&amp;height=300&amp;hl=en&amp;q=653%20Camino%20De%20Los%20Mares%20%23100%20San%20Clemente%2C%20CA%2092673+(Trestles%20Chiropractic)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Draw map route</a></iframe>
				{{ .Content }}
    </div>
    <div class="main-with-sidebar">
        {{ partial "contact-form" . }}
    </div>
</div>

{{ end }}
