{{ define "main" }}

<div class="container tele-form">
    <h1>{{ .Title }}</h1>
    
    {{ .Content }}
    
    <form name="telehealth" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <p>
          <label><strong>First Name:<span class="required">*</span></strong> <input type="text" name="first-name" placeholder="First Name" required/></label>
      </p>
        <p><label><strong>Last Name:<span class="required">*</span></strong> <input type="text" name="last-name" placeholder="Last Name" required/></label></p>
        <p><label><strong>Address:<span class="required">*</span></strong> <input type="text" name="address" placeholder="Street Address" required/></label></p>
        <p><label><strong>City:<span class="required">*</span></strong> <input type="text" name="city" placeholder="City" required></label></p>
            
        <div class="row">
          <div class="columns two">
              <p><label><strong>State:<span class="required">*</span></strong> <input type="text" id="state" name="state" placeholder="State" required></label></p>
          </div>
          <div class="columns two last">
              <p><label><strong>Zip:<span class="required">*</span></strong> <input type="text" id="zip" name="zip" placeholder="Zip code" required></label></p>
          </div>
        </div>
        
        <p><label><strong>Phone Number:<span class="required">*</span></strong> <input type="tel" id="phone" name="phone" placeholder="Phone Number" required></label></p>
        <p><label><strong>Date of Birth:<span class="required">*</span></strong> <input type="date" id="date-of-birth" name="date-of-birth required"></label>
        <p><label><strong>Email:<span class="required">*</span></strong> <input type="text" name="email" placeholder="Email Address" required/></label></p>
        
        <hr>
        
        <label><strong>Have you experienced any of the following in the last 2 weeks?:<span class="required">*</span></strong> (If on a computer hold shift to select multiple options) <select name="role[]" multiple>
		      <option value="dizziness">dizziness</option>
		      <option value="nausea">nausea</option>
		      <option value="leader">Leader</option>
		      <option value="difficulty swallowing">difficulty swallowing</option>
		      <option value="difficulty breathing">difficulty breathing</option>
		      <option value="fever">fever</option>
		      <option value="muscle tension">muscle tension</option>
		      <option value="limited mobility">limited mobility</option>
		      <option value="shooting pain">shooting pain</option>
		      <option value="numbness/tingling">numbness/tingling</option>
		      <option value="pain down legs">pain down legs</option>
		      <option value="low back pain">low back pain</option>
		      <option value="neck pain">neck pain</option>
		      <option value="extremity pain">extremity pain</option>
		      <option value="headache">headache</option>
		      <option value="migraine">migraine</option>
		      <option value="fatigue">fatigue</option>
		    </select></label>
        
        <p><label><input type="checkbox" required> </label></p>
        
        <p><label><strong>To my knowledge I have not been exposed to anyone with covid-19 in the last 2 weeks<span class="required">*</span></strong>
	            <select name="No exposure[]">
					      <option value="Confirmed">I confirm</option>
					    </select>
				    </label></p>
            
            <p><label><strong>Is your condition due to an accident?<span class="required">*</span></strong>
	            <select name="accident[]">
					      <option value="yes">Yes</option>
					      <option value="no">No</option>
					    </select>
				    </label></p>
        
        <hr>
        
        <h3>CONSENT TO CHIROPRACTIC EXAMINATION</h3>
        <br>
        <div class="small-text">
        <p>Congratulations for having chosen the safest and most natural health care program ever conceived: Chiropractic.</p>

        <p>This painless, logical, and effective approach to health has been serving everyday people for over 100 years. It is licensed in every state, and in many countries as well. Chiropractic has the least chance of side effects of any other type of health care. Mild headaches and muscles soreness may sometimes occur.</p>

        <p>Let’s look at a few statistics about possible serious side effects:</p>

        <p>The #1 cause of death in the US is from correctly and incorrectly prescribed pharmaceutical drugs. (CDC, FDA, NIH sites, also Gary Null: Death By Medicine)</p>

        <p>Stroke is one of the most common causes of death in the US. With people going to doctors all the time it is probable that many will have had a recent doctor visit. But causation is another matter entirely.</p>

        <p>There is no absolutely known material risk of chiropractic care being greater than risks from medical treatment. In fact, when all the factors are taken together, deaths and injuries from a combination of medical mistakes and intentional drugs dwarf any injuries from chiropractic.</p>

        <p>Risk of stroke from chiropractic? Virtually zero chance of stroke from chiropractic. The largest study ever done – the 2008 study in Canada looking at 12 million people over 9 years, showed that 53% of strokes had visited their MD within 30 days prior, while only 4% had visited their DC. No evidence of excess risk of stroke associated with chiropractic care.</p>

        <p>In 2001 the Canadian Medical Association Journal found there is only a one-in-5.85-million risk that a cervical manipulation from an MD, PT, or DC would be followed by a stroke. Author David Cassidy, a professor of epidemiology at the University of Toronto said patients had already damaged the artery before seeking help from either a medical doctor or a chiropractor, and then the stroke occurred after the visit.</p>

        <p>Speaking of risks associated with chiropractic, we should look also at the risk associated with NOT GETTING adjusted. This risk was one of the 4 components of risk in the Association of Chiropractic Colleges guidelines on informed consent in 2008. Disc degeneration, loss of mobility, loss of overall tone, decreased quality of life – these are real risks of the untreated spine as time goes by.</p>

        <p>I fully understand these risks, the doctor has explained them to me and I consent to chiropractic care by typing my name and todays date below.</p>
        </div>
        
    <p><label><strong>Full Name:<span class="required">*</span></strong> <input type="text" name="full-name" placeholder="Full Name" required/></label></p>
    <p><label><strong>Todays Date:<span class="required">*</span></strong> <input type="date" id="todays-date" name="todays-date" required></label></p>
    <p><label><input type="checkbox" required> <strong>Checking the checkbox is equivalent to a handwritten signature<span class="required">*</span></strong></label></p>
        
        <hr>
        <br>
        <h3>Tele-examination Fee</h3>
        <p>$15.00</p>
        <p><em>Once a sucessful payment had been processed, a representative will call or text you to schedule the examination within the next 24 hours.</em></p>
        <div style="overflow: auto;">
          <a target="_blank" href="https://checkout.square.site/pay/736e090392474e1da22c4b827b283a7b" style="
            display: inline-block;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 48px;
            height: 48px;
            padding-left: 48px;
            padding-right: 48px;
            color: #ffffff;
            min-width: 165px;
            background-color: #000000;
            border-radius: 4px;
            text-align: center;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
          ">Pay now</a>
        </div>
        <br>
        <hr>
       <br>
        <p><button type="submit">Submit My Request for an Examination</button></p>
    </form>
    
    
</div>

{{ end }}
