/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
/*@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';*/

@import './imports/_lists';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

body {
  margin-top: 120px;
  font-family: 'Titillium Web',sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.region-highlighted {
    background: url(/img/interior-header.png) no-repeat center bottom;
    min-height: 170px;
    position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}
button,
a.button,
a.button:visited,
.form-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  background: #9458A1;
  border-radius: 50px;
  border: none;
  padding: 10px 50px;
}

nav {
  background: #FFF;
  text-align: right;
  min-height: 80px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}
nav img {
  float: left;
}
nav li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 14px;
  margin-left: 16px;
}
nav li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
}
nav li a:hover,
nav li a.active {
  color: #087EA3;
}

.info {
  margin: 0;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(255,255,255,0.7);
}
.info a {
    text-decoration: none;
}
.info li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    color: #444;
    font-size: 20px;
    font-weight: 600;
}
.info li.address-block:before, 
.info li.phone-block:before, 
.info li.hours-block:before {
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    content: "";
}
.info li.address-block:before {
    background-image: url(/img/home.png);
}
.info li.phone-block:before {
    background-image: url(/img/phone.png);
}
.info li.hours-block:before {
    background-image: url(/img/clock.png);
}
.columns {
  display: inline-block;
  vertical-align: top;
}
.columns.four {
  width: 24%;
}

.appointment-section {
    background-color: #333 !important;
    background-image: url(/img/david-paschke-173850.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/david-paschke-173850.jpg',sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/david-paschke-173850.jpg',sizingMethod='scale');
}
.appointment-section .content-wrapper {
    background: rgba(38,179,222,0.75);
    padding: 80px 20%;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    line-height: 44px;
}

footer {
  padding: 50px 0 0;
  color: #FFF;
  background: #686F77 url(/img/footer-bg.png) center bottom;
}
.footer-bottom {
  text-align: center;
  background: rgba(0,0,0,0.45);
  padding: 20px 0;
}
footer .footer-hours-block ul li {
    border-bottom: 1px solid #9B9B9B;
    font-weight: bold;
}
footer .footer-hours-block ul li.last {
    border: none;
}
footer .footer-hours-block ul li span {
    float: right;
    font-weight: 100;
}

footer .footer-stay-connected-block a:before {
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
    content: "";
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
}
footer .footer-stay-connected-block a.facebook:before {
    background-image: url(/img/facebook.png);
}