/*! TACHYONS v4.5.5 | http://tachyons.io */

/* External Library Includes */
@import './imports/_reset';

@import './imports/_lists';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

body {
  margin-top: 120px;
  font-family: 'Titillium Web',sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.region-highlighted {
    background: url(/img/interior-header.png) no-repeat center bottom;
    min-height: 170px;
    position: relative;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}
h2 {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 0;
}
h3 {
    font-size: 24px;
    line-height: 28px;
}
button,
a.button,
a.button:visited,
.form-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  background: #9458A1;
  border-radius: 50px;
  border: none;
  padding: 10px 50px;
  text-decoration: none;
}

nav {
  background: #FFF;
  text-align: right;
  min-height: 80px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}
nav img {
  float: left;
}
nav li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 14px;
  margin-left: 16px;
}
nav li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
}
nav li a:hover,
nav li a.active {
  color: #087EA3;
}

.info {
  margin: 0;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(255,255,255,0.7);
}
.info a {
    text-decoration: none;
}
.info li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    color: #444;
    font-size: 20px;
    font-weight: 600;
}
.info li.address-block:before, 
.info li.phone-block:before, 
.info li.hours-block:before {
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    content: "";
}
.info li.address-block:before {
    background-image: url(/img/home.png);
}
.info li.phone-block:before {
    background-image: url(/img/phone.png);
}
.info li.hours-block:before {
    background-image: url(/img/clock.png);
}
.columns {
  display: inline-block;
  vertical-align: top;
}
.columns.four {
  width: 24%;
}
.columns.two {
  width: 49%;
}

.appointment-section {
    background-color: #333 !important;
    background-image: url(/img/david-paschke-173850.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/david-paschke-173850.jpg',sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/david-paschke-173850.jpg',sizingMethod='scale');
}
.appointment-section .content-wrapper {
    background: rgba(38,179,222,0.75);
    padding: 80px 20%;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    line-height: 44px;
}

footer {
  color: #FFF;
  background: #686F77 url(/img/footer-bg.png) center bottom;
}
footer .container {
    padding: 50px 0;
}
footer .columns.four {
    width: 22%;
    margin: 0 3% 0 0;
}
footer .columns.four.last {
    margin: 0;
}
footer a {
    text-decoration: none;
}
footer h2 {
    font-size: 20px;
    font-weight: bold;
}
.footer-bottom {
  text-align: center;
  background: rgba(0,0,0,0.45);
  padding: 20px 0;
}
footer .first {
    text-align: center;
}
footer .footer-hours-block ul li {
    border-bottom: 1px solid #9B9B9B;
    font-weight: bold;
}
footer .footer-hours-block ul li.last {
    border: none;
}
footer .footer-hours-block ul li span {
    float: right;
    font-weight: 100;
}

footer .footer-stay-connected-block a:before {
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
    content: "";
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
}
footer .footer-stay-connected-block a.facebook:before {
    background-image: url(/img/facebook.png);
}
footer .footer-stay-connected-block a.yelp:before {
    background-image: url(/img/yelp.png);
}
footer .footer-stay-connected-block a.linkedin:before {
    background-image: url(/img/linkedin.png);
}
footer .footer-stay-connected-block a.yellowpages:before {
    background-image: url(/img/yellowpages.png);
}