{{ define "main" }}

<div class="container home-callouts">
  <div class="columns two">
    <h1>Structural Correction vs. Traditional Chiropractic care</h1>
    <p>As Structural Chiropractors in San Clemente we differ from traditional chiropractors who focus on symptom-based care. Our unique focus is, identifying and correcting structural abnormalities present in the body, which lead to the secondary conditions that bring people to our office. This is known as Structural Shift. We utilize specific examination tools on day one, and periodically throughout treatment to ensure that progress and adaptations are made specific to each patients needs.</p>

    <p>Structural correction is a non-invasive form of healthcare that focuses on restoring the body to its proper function through the detection and correction of Structural Shift. This is achieved through the use of Structural Chiropractic care, Myofascial Release Therapies, and/or High Powered Laser Therapy.</p>

    <p>As the ultimate resource for structural correction we look forward to meeting you.</p>
  </div>
<div class="columns two last">
    <h2>Where Do I Get Started?</h2>
    
    <div class="columns two">
        <img src="/img/schedule-cta_itok=oD5kaBcN.png" width="260" height="170" alt="">
        <h3>Schedule a Complimentary Consulation</h3>
        <a class="more-link" href="schedule-complimentary-consultation.html">Learn More »</a>
    </div>
    <div class="columns two last">
        <img src="/img/laser_0_itok=4eJx9Xxd.png" width="260" height="170" alt="">
        <h3>High Power Laser Therapy vs Cold Laser (LLLT)</h3>
        <a class="more-link" href="laser.html">Learn More »</a>
    </div>

    <img src="/img/shift_0_itok=9yA2ndCr.png" width="40" height="40" alt="">
    <h3>What is a Structural Shift?</h3>
    <a class="more-link" href="what-structural-shift.html">Learn More »</a>

    <img src="/img/conditions_0_itok=qpubS1t0.png" width="40" height="40" alt="">
    <h3>What are Secondary Conditions?</h3>
    <a class="more-link" href="what-are-secondary-conditions.html">Learn More »</a>

    <img src="/img/treatments_0_itok=S4r7OZfR.png" width="40" height="40" alt="">
    <h3>What are some Other Treatment Options?</h3>
    <a class="more-link" href="other-treatment-options.html">Learn More »</a> 

</div>
</div>

<div class="appointment-section">
    <div class="content-wrapper">
        <div class="container">
            <h2>Call (949) 284-6620</h2>
            <p>to schedule an appointment for a complimentary consultation at Trestles Chiropractic.</p>

            <a class="button outline" href="/contact">Make an Appointment</a>
        </div>
    </div>
</div>

<div class="form-section">
  <div class="container">
    “Many aspects of life can affect the structure of your spine such as stress, trauma, sports injuries”

    Download your free copy
    10 Questions You Should Ask Before Visiting a Chiropractor

    FORM
  </div>
</div>

<div class="container">
  
</div>

{{ end }}
