{{ define "main" }}

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="/img/Group 6_itok=brl8Kg8j.png" style="width:100%">
  <div class="text">
    <p class="subtext">Complimentary Consultation</p>
    <h2>The Ultimate Resource for Structural Correction!</h2>
    <p>A No Obligation, No Pressure, conversation with the doctor about your health.</p>
    <a href="/contact" class="button">Schedule Now</a>
  </div>
</div>
    
<div class="mySlides fade">
  <img src="/img/massage home_itok=pxFZmwjv.jpg" style="width:100%">
  <div class="text">
    <h2>Free 60 min Massage Free Massage</h2>
    <p>Purchase our $99 Initial Examination and receive a gift certificate for a FREE 60 Min MASSAGE!</p>
  </div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
    
<div class="slide-pager">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
</div>

</div>
<br>

<div class="container home-locations">
	<h2>Locations</h2>
	<div class="columns two">
		<div class="contact">
			<a class="button" href="tel:949-284-6620"><img width="15px" style="margin-right: 8px;" src="/img/phone-white.png">Give Us a Call</a>
			<p class="phone">949-284-6620</p>
		</div>
	
		<div class="location">
			<h3>San Clemente</h3>
			<p><a href="https://goo.gl/maps/JPMf2oZWNBU2zDuo7" target="_blank">653 Camino De Los Mares #100<br>
			San Clemente, CA 92673</a></p>
		</div>
		
		<div class="hours">
			<p>Mon, Tues, & Thurs 9am-7pm, Sat 10am-12:30pm</p>
		</div>
	</div>
	<div class="columns two last">
		<div class="contact">
			<a class="button" href="tel:949-264-3252"><img width="15px" style="margin-right: 8px;" src="/img/phone-white.png">Give Us a Call</a>
			<p class="phone">949-264-3252</p>
		</div>
	
		<div class="location">
			<h3>Mission Viejo</h3>
			<p><a href="https://goo.gl/maps/F3T7giV7oRAxeS9ZA" target="_blank">26032 Marguerite Pkwy Ste A2<br>
			Mission Viejo, CA 92692</a></p>
		</div>
		
		<div class="hours">
			<p>Wed & Fri 11am-5pm, Sat 1pm-3:30pm</p>
		</div>
	</div>
</div>

<div class="container home-callouts">
  <div class="columns two">
    {{ .Content }}
  </div>
<div class="columns two last">
    <h2>Where Do I Get Started?</h2>
    <div class="image-ctas">
        <div class="columns two">
            <img src="/img/schedule-cta_itok=oD5kaBcN.png" width="260" height="170" alt="">
            <h3>Schedule a Complimentary Consulation</h3>
            <a class="more-link" href="schedule-complimentary-consultation.html">Learn More »</a>
        </div>
        <div class="columns two last">
            <img src="/img/laser_0_itok=4eJx9Xxd.png" width="260" height="170" alt="">
            <h3>High Power Laser Therapy vs Cold Laser (LLLT)</h3>
            <a class="more-link" href="laser.html">Learn More »</a>
        </div>
    </div>
    <div class="icon-title-link">
        <img src="/img/shift_0_itok=9yA2ndCr.png" width="40" height="40" alt="">
        <h4>What is a Structural Shift?</h4>
        <a class="more-link" href="what-structural-shift.html">Learn More »</a>
    </div>
    <div class="icon-title-link">
        <img src="/img/conditions_0_itok=qpubS1t0.png" width="40" height="40" alt="">
        <h4>What are Secondary Conditions?</h4>
        <a class="more-link" href="what-are-secondary-conditions.html">Learn More »</a>
    </div>
    <div class="icon-title-link">
        <img src="/img/treatments_0_itok=S4r7OZfR.png" width="40" height="40" alt="">
        <h4>What are some Other Treatment Options?</h4>
        <a class="more-link" href="other-treatment-options.html">Learn More »</a>
    </div>

</div>
</div>

<div class="appointment-section">
    <div class="content-wrapper">
        <div class="container">
            <h2>Call (949) 284-6620</h2>
            <p>to schedule an appointment for a complimentary consultation at Trestles Chiropractic.</p>

            <a class="button outline" href="/contact">Make an Appointment</a>
        </div>
    </div>
</div>

<div class="form-section">
  <div class="container">
    <div class="quote">
        <img style="float: left;" src="/img/ryan-circle-image.png" alt="" width="117" height="117">
        <p>“Many aspects of life can affect the structure of your spine such as stress, trauma, sports injuries”</p>
        <div class="book-cta">
            <img style="float: right;" src="/img/book-example_0.png" alt="" width="101" height="104">
            <p>Download your free copy<br><span>10 Questions You Should Ask Before Visiting a Chiropractor</span></p>
        </div>
    </div>
    <div class="form">
        <form name="ebook-signup" method="POST" action="/ebook" netlify-honeypot="bot-field" data-netlify="true">
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <p>
            <label>Your Email:</label>
            <input type="email" name="email" />
          </p>
          <p>
            <button type="submit">SIGN UP »</button>
          </p>
        </form>
    </div>
  </div>
</div>

<div class="container homepage-blog">
    <div class="blog-title">
        <h2>Health Tips</h2>
        <a class="button" href="post">Read All Tips</a>
    </div>
    <ul class="homepage-posts">
      {{ range (.Paginator 3).Pages.ByPublishDate.Reverse }}
          <div class="post-row">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
</div>

{{ end }}
