{{ define "main" }}

<div class="container">
  <div class="columns two">
    <h1>Structural Correction vs. Traditional Chiropractic care</h1>
    <p>As Structural Chiropractors in San Clemente we differ from traditional chiropractors who focus on symptom-based care. Our unique focus is, identifying and correcting structural abnormalities present in the body, which lead to the secondary conditions that bring people to our office. This is known as Structural Shift. We utilize specific examination tools on day one, and periodically throughout treatment to ensure that progress and adaptations are made specific to each patients needs.</p>

    <p>Structural correction is a non-invasive form of healthcare that focuses on restoring the body to its proper function through the detection and correction of Structural Shift. This is achieved through the use of Structural Chiropractic care, Myofascial Release Therapies, and/or High Powered Laser Therapy.</p>

    <p>As the ultimate resource for structural correction we look forward to meeting you.</p>
  </div>
  <div class="columns two">
    <h2>Where Do I Get Started?</h2>
  </div>
</div>

<div class="appointment-section">
    <div class="content-wrapper">
        <div class="container">
            Call (949) 284-6620
    to schedule an appointment for a complimentary consultation at Trestles Chiropractic.

    Make an Appointment
        </div>
    </div>
</div>

<div class="form-section">
  <div class="container">
    “Many aspects of life can affect the structure of your spine such as stress, trauma, sports injuries”

    Download your free copy
    10 Questions You Should Ask Before Visiting a Chiropractor

    FORM
  </div>
</div>

<div class="container">
  
</div>

{{ end }}
